/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@-webkit-keyframes orm-blink {
  0% {
    opacity: 1; }
  5% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes orm-blink {
  0% {
    opacity: 1; }
  5% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.cf, .clearfix {
  *zoom: 1; }
  .cf:before, .cf:after, .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .cf:after, .clearfix:after {
    clear: both; }

.is-hidden, .hide {
  display: none !important;
  visibility: hidden !important; }

.is-visuallyhidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

.is-visible, .show {
  display: block; }

.is-hidden, .hide {
  display: none !important;
  visibility: hidden !important; }

.smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.no-smooth {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.10em; }

.nice-underline {
  border-bottom: 1px solid #c9c9c9;
  text-shadow: 1px 1px #fff, -1px 1px #fff, 2px 1px #fff, -2px 1px #fff; }
  .nice-underline::selection {
    text-shadow: 1px 1px #b4d2ff, -1px 1px #b4d2ff, 2px 1px #b4d2ff, -2px 1px #b4d2ff; }
  .nice-underline::-moz-selection {
    text-shadow: 1px 1px #b4d2ff, -1px 1px #b4d2ff, 2px 1px #b4d2ff, -2px 1px #b4d2ff; }

.align-right {
  text-align: right; }

.center,
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.valid {
  color: #089e00; }

.error {
  color: #d22; }

.warning {
  color: #fff664; }

.information {
  color: #000db5; }

.rounded {
  overflow: hidden;
  border-radius: 50%;
  line-height: 0; }

.not-selectable::selection {
  background: transparent; }

.clickable {
  cursor: pointer; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #bfbfbf; }

.arrow, .arrow-down, .arrow-right, .arrow-left {
  width: 0;
  height: 0; }
  .arrow .small, .arrow-down .small, .arrow-right .small, .arrow-left .small {
    border-width: 5px; }

.arrow-down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #bfbfbf; }

.arrow-right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #bfbfbf; }

.arrow-left {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #bfbfbf; }

.CodeMirror {
  padding: 1.25rem; }
  .CodeMirror pre {
    margin: 0 !important;
    max-width: initial !important; }

.cm-s-oreilly.CodeMirror .CodeMirror-lines:before {
  content: "";
  height: 1.5em;
  border-right: 1px solid #737373;
  position: absolute;
  top: 5px;
  left: 0.6875rem;
  animation: orm-blink 2s infinite; }

.cm-s-oreilly.CodeMirror.CodeMirror-focused .CodeMirror-lines:before {
  content: none; }

.cm-s-oreilly.CodeMirror {
  background: #333333;
  color: whitesmoke;
  font-family: Consolas, Menlo, Monaco, "Lucida Console";
  font-size: 0.9375rem;
  white-space: pre-wrap; }

.cm-s-oreilly.CodeMirror-wrap {
  padding-top: 0;
  padding-left: 0; }

.cm-s-oreilly.CodeMirror-focused {
  background: #262626; }

.cm-s-oreilly div.CodeMirror-selected {
  background: #49483E !important; }

.cm-s-oreilly.CodeMirror ::selection {
  background: rgba(73, 72, 62, 0.99); }

.cm-s-oreilly.CodeMirror ::-moz-selection {
  background: rgba(73, 72, 62, 0.99); }

.cm-s-oreilly.CodeMirror pre {
  padding: 0 0.25rem 0 0.9375rem; }

.cm-s-oreilly .CodeMirror-gutters {
  background: #333333;
  border-right: 1px solid #4d4d4d;
  width: 2rem; }

.cm-s-oreilly .CodeMirror-guttermarker {
  color: white; }

.cm-s-oreilly .CodeMirror-guttermarker-subtle {
  color: #d0d0d0; }

.cm-s-oreilly .CodeMirror-linenumber {
  color: #737373;
  padding-top: 0.1875rem;
  padding-right: 0.1875rem;
  font-size: 0.75rem; }

.cm-s-oreilly .CodeMirror-cursor {
  border-left: 1px solid white !important; }

.cm-s-oreilly span.cm-comment {
  color: #758186; }

.cm-s-oreilly span.cm-atom {
  color: #ae81ff; }

.cm-s-oreilly span.cm-number {
  color: #8F8FBB; }

.cm-s-oreilly span.cm-property, .cm-s-oreilly span.cm-attribute {
  color: white; }

.cm-s-oreilly span.cm-keyword {
  color: #ff6680; }

.cm-s-oreilly span.cm-string {
  color: #ffff66; }

.cm-s-oreilly span.cm-variable {
  color: white; }

.cm-s-oreilly span.cm-variable-2 {
  color: white; }

.cm-s-oreilly span.cm-def {
  color: #ffcc99; }

.cm-s-oreilly span.cm-bracket {
  color: #f8f8f2; }

.cm-s-oreilly span.cm-tag {
  color: #f92672; }

.cm-s-oreilly span.cm-link {
  color: #ae81ff; }

.cm-s-oreilly span.cm-error {
  background: #f92672;
  color: #f8f8f0; }

.cm-s-oreilly .CodeMirror-activeline-background {
  background: white !important; }

.cm-s-oreilly .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important; }

pre code.hll {
  background-color: #333333; }

pre code.c {
  color: #758186; }

/* Comment */
pre code.err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
pre code.k {
  color: #ff6680; }

/* Keyword */
pre code.l {
  color: #ae81ff; }

/* Literal */
pre code.n {
  color: white; }

/* Name */
pre code.o {
  color: white; }

/* Operator */
pre code.p {
  color: white; }

/* Punctuation */
pre code.cm {
  color: #758186; }

/* Comment.Multiline */
pre code.cp {
  color: #758186; }

/* Comment.Preproc */
pre code.c1 {
  color: #758186; }

/* Comment.Single */
pre code.cs {
  color: #758186; }

/* Comment.Special */
pre code.ge {
  font-style: italic; }

/* Generic.Emph */
pre code.gs {
  font-weight: bold; }

/* Generic.Strong */
pre code.kc {
  color: #ff6680; }

/* Keyword.Constant */
pre code.kd {
  color: #ff6680; }

/* Keyword.Declaration */
pre code.kn {
  color: #ff6680; }

/* Keyword.Namespace */
pre code.kp {
  color: #ff6680; }

/* Keyword.Pseudo */
pre code.kr {
  color: #ff6680; }

/* Keyword.Reserved */
pre code.kt {
  color: #ff6680; }

/* Keyword.Type */
pre code.ld {
  color: #f8f8f2; }

/* Literal.Date */
pre code.m {
  color: #8F8FBB; }

/* Literal.Number */
pre code.s {
  color: #ffff66; }

/* Literal.String */
pre code.na {
  color: #a6e22e; }

/* Name.Attribute */
pre code.nb {
  color: white; }

/* Name.Builtin */
pre code.nc {
  color: #a6e22e; }

/* Name.Class */
pre code.no {
  color: #ff6680; }

/* Name.Constant */
pre code.nd {
  color: #a6e22e; }

/* Name.Decorator */
pre code.ni {
  color: white; }

/* Name.Entity */
pre code.ne {
  color: #a6e22e; }

/* Name.Exception */
pre code.nf {
  color: #a6e22e; }

/* Name.Function */
pre code.nl {
  color: white; }

/* Name.Label */
pre code.nn {
  color: white; }

/* Name.Namespace */
pre code.nx {
  color: #a6e22e; }

/* Name.Other */
pre code.py {
  color: white; }

/* Name.Property */
pre code.nt {
  color: #ff6680; }

/* Name.Tag */
pre code.nv {
  color: white; }

/* Name.Variable */
pre code.ow {
  color: #ff6680; }

/* Operator.Word */
pre code.w {
  color: white; }

/* Text.Whitespace */
pre code.mf {
  color: #8F8FBB; }

/* Literal.Number.Float */
pre code.mh {
  color: #8F8FBB; }

/* Literal.Number.Hex */
pre code.mi {
  color: #8F8FBB; }

/* Literal.Number.Integer */
pre code.mo {
  color: #8F8FBB; }

/* Literal.Number.Oct */
pre code.sb {
  color: #f8f8f2; }

/* Literal.String.Backtick */
pre code.sc {
  color: #f8f8f2; }

/* Literal.String.Char */
pre code.sd {
  color: #f8f8f2; }

/* Literal.String.Doc */
pre code.s2 {
  color: #f8f8f2; }

/* Literal.String.Double */
pre code.se {
  color: #8F8FBB; }

/* Literal.String.Escape */
pre code.sh {
  color: #f8f8f2; }

/* Literal.String.Heredoc */
pre code.si {
  color: #f8f8f2; }

/* Literal.String.Interpol */
pre code.sx {
  color: #f8f8f2; }

/* Literal.String.Other */
pre code.sr {
  color: #f8f8f2; }

/* Literal.String.Regex */
pre code.s1 {
  color: #f8f8f2; }

/* Literal.String.Single */
pre code.ss {
  color: #f8f8f2; }

/* Literal.String.Symbol */
pre code.bp {
  color: white; }

/* Name.Builtin.Pseudo */
pre code.vc {
  color: white; }

/* Name.Variable.Class */
pre code.vg {
  color: white; }

/* Name.Variable.Global */
pre code.vi {
  color: white; }

/* Name.Variable.Instance */
pre code.il {
  color: #8F8FBB; }

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
pre code.gu {
  color: #758186; }

/* Generic.Subheading & Diff Unified/Comment? */
pre code.gd {
  color: #ff6680; }

/* Generic.Deleted & Diff Deleted */
pre code.gi {
  color: #a6e22e; }

/* Generic.Inserted & Diff Inserted */
.article {
  margin-top: 70vh; }

.article-header {
  margin-top: 0; }

.article-header, .article-body {
  margin-left: 13.88889%; }

.article-video {
  display: none;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0; }
  .article-video #player-background {
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%; }
  .article-video #player-wrap {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 44px;
    max-width: 1390px; }
    .article-video #player-wrap #player {
      overflow: hidden; }
    .article-video #player-wrap video, .article-video #player-wrap iframe {
      width: 100%;
      height: 100%; }

.CodeMirror {
  padding: 0 0 1em 0; }

.thebe_controls {
  text-align: right; }

div#meter {
  height: 130%;
  min-height: 1000px;
  width: 200px;
  position: fixed;
  top: 0px;
  left: 20px; }

.hl_me {
  padding: 2px 5px;
  display: inline-block; }

@keyframes highlight {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.highlight {
  background-color: #FFFC7F !important;
  animation: highlight 0.7s; }
  .highlight a {
    text-shadow: 1px 1px #FFFC7F, -1px 1px #FFFC7F, 2px 1px #FFFC7F, -2px 1px #FFFC7F; }

.CodeMirror .highlight {
  background-color: black !important; }

svg {
  font-family: Guardian; }
  svg .tick text {
    fill: #999999;
    font-size: 11px; }
  svg .mark_text {
    color: #666666;
    font-size: 14px; }
  svg rect.overlay {
    fill: none;
    pointer-events: all;
    cursor: pointer; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

line.minor {
  stroke: #999;
  pointer-events: none; }

line.video_progress {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  pointer-events: none; }

line.scroll_progress {
  stroke: #85c1f5;
  fill: #85c1f5;
  stroke-width: 2px;
  shape-rendering: crispEdges; }

line.potential {
  stroke: #85c1f5;
  fill: #85c1f5;
  stroke-width: 3px;
  pointer-events: none; }

g.mark text, g.mark circle {
  fill: gray;
  cursor: pointer; }

g.mark circle {
  pointer-events: none; }

g.mark:hover text {
  fill: black; }

g.mark.current_text_marker text {
  fill: black;
  font-weight: bold; }

g.mark.cool text {
  text-decoration: underline; }

pre.fake_output, .nb_output {
  display: none !important; }

div.autoscroll label {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

.cm-s-oreilly.CodeMirror {
  min-height: 5.5em;
  padding-bottom: 3em; }

div#controls .poster {
  position: absolute;
  z-index: 500;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 1;
  transition: opacity .4s; }
  div#controls .poster.is-invisible {
    opacity: 0; }

div#controls .overlay {
  position: absolute;
  z-index: 600;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 0.625rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  div#controls .overlay > div {
    width: 33%;
    flex-shrink: 0; }
  div#controls .overlay .btn {
    padding-left: .75rem;
    padding-right: .75rem;
    margin: .1em;
    background-color: rgba(255, 255, 255, 0.6); }
    div#controls .overlay .btn.btn--with-icon {
      padding-left: .5em; }
    div#controls .overlay .btn .icon {
      margin-bottom: 0;
      margin-right: .2em; }
      div#controls .overlay .btn .icon:last-child {
        margin-left: .2em;
        margin-right: 0; }
    div#controls .overlay .btn:hover {
      background-color: white;
      color: black; }
      div#controls .overlay .btn:hover .icon svg {
        fill: black; }
    div#controls .overlay .btn.btn--transparent {
      background-color: transparent; }
      div#controls .overlay .btn.btn--transparent .icon:not(:hover) {
        fill: white; }
    div#controls .overlay .btn.right {
      float: right; }
    div#controls .overlay .btn.left {
      float: left; }

div#controls .under {
  padding-top: 10px; }

div#controls .autoscroll {
  text-align: right;
  padding-right: .5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4); }
  div#controls .autoscroll input, div#controls .autoscroll label {
    display: inline-block; }
  div#controls .autoscroll input[type="checkbox"] {
    width: .8em;
    height: .8em; }
